{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/pick_a_country'>
<table>
<th colspan="2">请选取国家：</th>
<tr><td>国家: </td><td>
  <input type="text" name='user_country' list="countries" placeholder="如. CN 或 中国" />
    <datalist id="countries">
    {% for (k, v) in the_list_items %}
      <option value="{{k}}">{{v}}</option>
    {% endfor %}
    </datalist>
</td></tr>
</table>
<p>准备就绪后, 单击此按钮：</p>
<p><input value='搞吧！' type='SUBMIT'></p>
</form>

{% endblock %}
