{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/search4'>
<table>
<p>使用此窗体提交搜索请求：</p>
<tr><td>老师姓名: </td><td><input type="week" name="user_week" /></td></tr>
<tr><td>课程名称: </td><td><input type="time" name="user_time" /></td></tr>
<tr><td>datetime: </td><td><input type="datetime" name="user_datetime" /></td></tr>
<tr><td>顏色（color）: </td><td><input type="color" name="user_color" /></td></tr>
</table>
<p>准备就绪后, 单击此按钮：</p>
<p><input value='搞吧！' type='SUBMIT'></p>
</form>

{% endblock %}
