{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/search4'>
<table>
 <th colspan="2"></th>
  <p>使用此窗体提交搜索请求：</p>
<tr><td>性别：</td><td><input type="女或男"  width='60'></td></tr>
 <tr><td>Date: </td><td><input type="date" name="user_date" /></td></tr>
 <tr><td>month: </td><td><input type="month" name="user_month" /></td></tr>
 <tr><td>week: </td><td><input type="week" name="user_week" /></td></tr>
 <tr><td>time: </td><td><input type="time" name="user_time" /></td></tr>
 <tr><td>datetime: </td><td><input type="datetime" name="user_datetime" /></td></tr>
</table>
<p>准备就绪后, 单击此按钮：</p>
<p><input value='搞吧！' type='SUBMIT'></p>
</form>

{% endblock %}
