{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/search4'>
<table>
<th colspan="2">使用此窗体提交搜索请求：</th>
<tr><td>短语：</td><td><input name='phrase' type='TEXT' width='60'></td></tr>
<tr><td>介词：</td><td><input name='letters' type='TEXT' value='临乎与为共冲到兜于即从以似假去让诸及往迆连迎道遵对导寻将当叫吃合同向和问如尽打执把投拦按捉洎给维缘在因惟就比照较方爿暨拿替望朝爰直由率被用繇齐至管自起趁践跟'></td></tr>
<th colspan="2"><br />也可使用HTML5 input 类型(type=)作新的表单输入类型：<br />
例子見<a href= "http://www.w3school.com.cn/html5/html_5_form_input_types.asp">W3school HTML5 Input 类型</a></p></th>
<tr><td>E-mail: </td><td><input type="email" name="user_email" /></td></tr>
<tr><td>Homepage: </td><td><input type="url" name="user_url" /></td></tr>
<tr><td>Points: </td><td><input type="number" name="points" min="1" max="10" /></td></tr>
<tr><td>Range: </td><td><input type="range" name="points" min="1" max="10" /></td></tr>
<tr><td>Date: </td><td><input type="date" name="user_date" /></td></tr>
<tr><td>month: </td><td><input type="month" name="user_month" /></td></tr>
<tr><td>week: </td><td><input type="week" name="user_week" /></td></tr>
<tr><td>time: </td><td><input type="time" name="user_time" /></td></tr>
<tr><td>datetime: </td><td><input type="datetime" name="user_datetime" /></td></tr>
<tr><td>顏色（color）: </td><td><input type="color" name="user_color" /></td></tr>
</table>
<p>准备就绪后, 单击此按钮：</p>
<p><input value='搞吧！' type='SUBMIT'></p>
</form>

{% endblock %}
